name: .NET Core

on: [push]

jobs:
  build:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v1
    - name: Setup .NET Core
      uses: actions/setup-dotnet@v1
      with:
        dotnet-version: 3.0.101
    - name: Test
      run: dotnet test ProcessFilesTests/
    - name: Build
      run: dotnet build --configuration Release --framework netcoreapp3.0 ProcessFiles/
